/Friis Power Plots/hpol_down_1m_friis.png
/Friis Power Plots/hpol_down_2m_friis.png
/Friis Power Plots/hpol_down_3m_friis.png
/Friis Power Plots/hpol_down_4m_friis.png
/Friis Power Plots/hpol_down_5m_friis.png
/Friis Power Plots/hpol_down_6m_friis.png
/Friis Power Plots/hpol_down_7m_friis.png
/Friis Power Plots/hpol_down_8m_friis.png
/Friis Power Plots/hpol_down_9m_friis.png
/Friis Power Plots/hpol_down_10m_friis.png
/Friis Power Plots/hpol_down_11m_friis.png
/Friis Power Plots/hpol_down_12m_friis.png
/Friis Power Plots/hpol_down_13m_friis.png
/Friis Power Plots/hpol_down_14m_friis.png
/Friis Power Plots/hpol_down_15m_friis.png
/Friis Power Plots/hpol_down_16m_friis.png
/Friis Power Plots/hpol_down_17m_friis.png
/Friis Power Plots/hpol_down_18m_friis.png
/Friis Power Plots/hpol_down_19m_friis.png
/Friis Power Plots/hpol_down_20m_friis.png
/Friis Power Plots/hpol_down_21m_friis.png
/Friis Power Plots/hpol_down_22m_friis.png
/Friis Power Plots/hpol_down_23m_friis.png
/Friis Power Plots/hpol_down_24m_friis.png
/Friis Power Plots/hpol_down_25m_friis.png
/Friis Power Plots/hpol_down_26m_friis.png
/Friis Power Plots/hpol_down_27m_friis.png
/Friis Power Plots/hpol_down_28m_friis.png
/Friis Power Plots/hpol_down_29m_friis.png
/Friis Power Plots/hpol_down_30m_friis.png
/Friis Power Plots/hpol_down_31m_friis.png
/Friis Power Plots/hpol_down_32m_friis.png
/Friis Power Plots/hpol_down_33m_friis.png
/Friis Power Plots/hpol_down_34m_friis.png
/Friis Power Plots/hpol_down_35m_friis.png
/Friis Power Plots/hpol_down_36m_friis.png
/Friis Power Plots/hpol_down_37m_friis.png
/Friis Power Plots/hpol_down_38m_friis.png
/Friis Power Plots/hpol_down_39m_friis.png
/Friis Power Plots/hpol_down_40m_friis.png
/Friis Power Plots/hpol_down_41m_friis.png
/Friis Power Plots/hpol_down_42m_friis.png
/Friis Power Plots/hpol_down_43m_friis.png
/Friis Power Plots/hpol_down_44m_friis.png
/Friis Power Plots/hpol_down_45m_friis.png
/Friis Power Plots/hpol_down_46m_friis.png
/Friis Power Plots/hpol_down_47m_friis.png
/Friis Power Plots/hpol_down_48m_friis.png
/Friis Power Plots/hpol_down_49m_friis.png
/Friis Power Plots/hpol_down_50m_friis.png
/Friis Power Plots/hpol_down_51m_friis.png
/Friis Power Plots/hpol_up_0m_friis.png
/Friis Power Plots/hpol_up_1m_friis.png
/Friis Power Plots/hpol_up_2m_friis.png
/Friis Power Plots/hpol_up_3m_friis.png
/Friis Power Plots/hpol_up_4m_friis.png
/Friis Power Plots/hpol_up_5m_friis.png
/Friis Power Plots/hpol_up_6m_friis.png
/Friis Power Plots/hpol_up_7m_friis.png
/Friis Power Plots/hpol_up_8m_friis.png
/Friis Power Plots/hpol_up_9m_friis.png
/Friis Power Plots/hpol_up_10m_friis.png
/Friis Power Plots/vpol_down_1m_friis.png
/Friis Power Plots/vpol_down_2m_friis.png
/Friis Power Plots/vpol_down_3m_friis.png
/Friis Power Plots/vpol_down_4m_friis.png
/Friis Power Plots/vpol_down_5m_friis.png
/Friis Power Plots/vpol_down_6m_friis.png
/Friis Power Plots/vpol_down_7m_friis.png
/Friis Power Plots/vpol_down_8m_friis.png
/Friis Power Plots/vpol_down_9m_friis.png
/Friis Power Plots/vpol_down_10m_friis.png
/Friis Power Plots/vpol_down_11m_friis.png
/Friis Power Plots/vpol_down_12m_friis.png
/Friis Power Plots/vpol_down_13m_friis.png
/Friis Power Plots/vpol_down_14m_friis.png
/Friis Power Plots/vpol_down_15m_friis.png
/Friis Power Plots/vpol_down_16m_friis.png
/Friis Power Plots/vpol_down_17m_friis.png
/Friis Power Plots/vpol_down_18m_friis.png
/Friis Power Plots/vpol_down_19m_friis.png
/Friis Power Plots/vpol_down_20m_friis.png
/Friis Power Plots/vpol_down_21m_friis.png
/Friis Power Plots/vpol_down_22m_friis.png
/Friis Power Plots/vpol_down_23m_friis.png
/Friis Power Plots/vpol_down_24m_friis.png
/Friis Power Plots/vpol_down_25m_friis.png
/Friis Power Plots/vpol_down_26m_friis.png
/Friis Power Plots/vpol_down_27m_friis.png
/Friis Power Plots/vpol_down_28m_friis.png
/Friis Power Plots/vpol_down_29m_friis.png
/Friis Power Plots/vpol_down_30m_friis.png
/Friis Power Plots/vpol_down_31m_friis.png
/Friis Power Plots/vpol_down_32m_friis.png
/Friis Power Plots/vpol_down_33m_friis.png
/Friis Power Plots/vpol_down_34m_friis.png
/Friis Power Plots/vpol_down_35m_friis.png
/Friis Power Plots/vpol_down_36m_friis.png
/Friis Power Plots/vpol_down_37m_friis.png
